<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xidian.shop.mapper.AdminMapper">
    <resultMap id="adminResultMap" type="com.xidian.shop.entity.Admin">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="permissions" ofType="com.xidian.shop.entity.auth.SysPermission">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
            <result property="purl" column="purl"/>
            <result property="createTime" column="ctime"/>
            <result property="updateTime" column="utime"/>
        </collection>
    </resultMap>

    <resultMap id="sysUserResultMap" type="com.xidian.shop.entity.auth.SysUser">
        <result property="username" column="username"/>
        <result property="userTypeEnum" column="userTypeEnum"/>
        <collection property="roles" ofType="com.xidian.shop.entity.auth.SysRole">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <result property="type" column="type"/>
            <result property="valid" column="valid"/>
            <result property="createTime" column="ctime"/>
            <result property="updateTime" column="utime"/>
            <collection property="permissions" ofType="com.xidian.shop.entity.auth.SysPermission">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="purl" column="purl"/>
                <result property="createTime" column="ctime"/>
                <result property="updateTime" column="utime"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findAdminByUserName" parameterType="java.lang.String" resultMap="adminResultMap">
        select
            id,
            username,
            password
        from
            t_admin
        where
            username = #{username}
    </select>

    <select id="findSysUserByUserName" parameterType="java.lang.String" resultMap="sysUserResultMap">
        select
            sys_user_role.username,


    </select>
</mapper>